.hidden,
footer {
  display: none;
}

@media screen and (min-width: 481px) {
  .hidden,
  footer {
    display: block;
  }

  footer {
    position: absolute;
    top: 90%;
  }

  .btn-button {
    display: none;
  }
}
